# Файлы и папки виртуального окружения:
.venv/

# Кэш python:
__pycache__
*.py[cod]

# Файлы IDE:
.idea

# Логи:
*.log

# Временные файлы:
*.tmp
*.temp

# Артефакты сборки:
build/
dist/
*.egg-info/

# Файлы с секретами:
.env

# Временные файлы Windows:
Thumbs.db

# Другое:
.replit
